.FooterMain {
 position:static;
 bottom: 0;
 width: 100%;
 background-color: #000;
 color: #fff;
 height: 5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 2rem;
}


.AuteurFooterCenter {
 color: #fff;
 text-decoration: none;
}

.copyrightFooter {
 margin-inline: .5rem;
 height: 2rem;
 font-size: .8rem;
 }