
.LogoHeaderSiteSmall a, .LogoHeaderSiteMedium a {
 color: #000;
 cursor: pointer;
 text-decoration: none;
 font-family:cursive

}


.LogoHeaderSiteSmall{
 font-size: 2rem;
}

.LogoHeaderSiteMedium{
font-size: 3rem;
}
