.HeaderMain {
 padding-inline: 1rem;
 padding-block: .2rem;
 position: fixed;
 top: 0;
 width: 100%;
 background-color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 1px 1px 14px #00000044;
}