
.HamburgerToggleOpen, .HamburgerToggleClosed {
 display: flex;
 flex-direction: column;
 gap: .2rem;
 height: 1.7rem;
 width: 2.4rem;
 border-radius: .2rem;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 200ms ease-in-out;
}

.HamburgerToggleOpen:hover, .HamburgerToggleClosed:hover{
 background-color: #eee;
 transition: 200ms ease-in-out;
}


.HamburgerToggleOpen span, .HamburgerToggleClosed span {
 display: block;
 background-color: #000;
 height: .2rem;
 width: 1.7rem;
 border-radius: .2rem;
}
