
.HamburgerToggleOpen, .HamburgerToggleClosed {
 display: flex;
 flex-direction: column;
 gap: .2rem;
 height: 1.7rem;
 width: 2.4rem;
 border-radius: .2rem;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 200ms ease-in-out;
 overflow: hidden;
}

.HamburgerToggleOpen:hover, .HamburgerToggleClosed:hover{
 background-color: #eee;
 transition: 200ms ease-in-out;
 box-shadow: 0 0 1px #000;
}


.HamburgerToggleOpen span, .HamburgerToggleClosed span {
 display: block;
 background-color: #000;
 height: .2rem;
 width: 1.7rem;
 border-radius: .2rem;
 transition: 300ms ease-in-out;
}

.HamburgerToggleOpen span:first-child {
 rotate: 45deg;
 translate: 0 .4rem ;
 transition: 300ms ease-in-out;
}
.HamburgerToggleOpen span:nth-child(2) {
 translate: 4rem;
 transition: 300ms ease-in-out;
}
.HamburgerToggleOpen span:last-child {
 rotate: -45deg;
 translate: 0 -.4rem ;
 transition: 300ms ease-in-out;
}