.AboutUs {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 margin-inline:1rem;
 justify-content: center;
 align-items: center;

 }

 .AboutUs .AboutUsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-inline:1rem;
  max-width: 800px;
 }

.AboutUs>*{
 line-height: 1.6;
}
